*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* logo of site */
.logo a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
/* navigation bar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}
/* navigation with unordered list */
.navbar .nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}
/* navigation with unordered list and list */
.navbar .nav-list li{
    list-style-type: none;
    padding: 20px 30px;
}
.navbar .nav-list li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
/* search and input for search in right-nav */
.navbar .right-nav{
    width: 30%;
    padding: 0 23px;
    text-align: right;
    justify-content: center;
    align-items: center;
}
/* search button */
#search{
    padding: 5px;
    border: none;
    border-radius: 7px;
}
/* bacckground for home page */
.background{
    background: rgba(0, 0, 0, 0.7) url('saptakoshi.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 50%;
    margin: auto;
    height: 72%;
}
/* height of home page */
.homepage{
    height: 95vh;
}
/* first column of home page */
.fcolumn{
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* second column of home page that includes image */
.scolumn{
    width: 60%;
}
.scolumn img{
    width: 100%;
    border-radius: 15%;
    display: block;
    margin: auto;
}
.big-text{
    font-size: 29px;
}
.small-text{
    font-size: 14px;
}
/* For button */
.btn{
    padding: 8px 15px;
    margin: 8px 3px;
    border: none;
    border-radius: 15px;
    background: tomato;
    color: white;
    cursor: pointer;
}
.btn-sm{
    /* padding: 4px 7px; */
    vertical-align: middle;
}
/* About section */
#about{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 80%;
}
/* First column of about page */
.fcol{
    padding: 0px 30px;
    margin: 50px 0;
}
.reverse{
    flex-direction: row-reverse;
}
/* Second column that includes thumbnail images */
.thumbnail{
    color: tomato;
}
.thumbnail img{
    border-radius: 8px; 
}
.thumbnail-image{
    margin-bottom: 70px;
}

/* Course Section */
#courseSection{
    background: rgb(27, 27, 27);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 100%;
}

.col1{
    text-align: center;
    padding: 0 35px;
    margin: 50px 0;
    width: 50%;
}
.col2{
    text-align: center;
    padding: 0 35px;
    margin: 50px 0;
    width: 50%;
}
.col1 .course_desc{
    text-align: left;
}
.col2 .course_desc{
    text-align: left;
}

/* Contact Section */
#contact{
    background-color: rgb(156, 150, 150);
}
.contact-heading{
    text-align: center;
    color: white;
    padding: 30px;
}

/* Form for contact */
.form{
    margin: auto;
    max-width: 50%;
}
.form .input-form{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin: 20px 0;
}
.submit-btn{
    width: 100%;
    margin-bottom: 40px;
}

/* Footer */
footer{
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    background: rgb(27, 27, 27);
    color: white;
}

/* For hamburger */
.burger{
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 10px;
    display: none;
}
.bar{
    width: 25px;
    height: 3px;
    background: white;
    margin: 3px
}
/* Responsive design */
@media only screen and (max-width: 998px){
    .navbar{
        flex-direction: column;
        height: 445px;
        transition: all 1s ease-out;
    }
    .nav-list{
        flex-direction: column;
    }
    #search{
        width: 100%;
    }
    #search .btn{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .nav-height-resp{
        height: 56px;
    }
    .visiblity-resp{
        opacity: 0;
    }
    #about{
        flex-direction: column-reverse;
        margin-top: 20px;
    }
    #courseSection{
        flex-direction: column;
    }
    .course-title{
        padding: 20px;
    }
    .box{
        flex-direction: column-reverse;
    }
    .big-text{
        text-align: left;
    }
    .button{
        text-align: center;
    }
    .thumbnail{
        margin-top: 20px;
    }
    .thumbnail img{
        width: 100%;
    }
    .thumbnail-image{
        margin-bottom: 0px;
    }
    .manage_desc{
        margin-bottom: 50px;
    }
    .fcol{
        padding: 0px;
    }
    .col1{
        width: 100%;
    }
    .col2{
        width: 100%;
    }
}